@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  position: relative;
}

html {
  font-size: 70%;
}

.container {
  display: none;
  overflow: hidden;
}

.display .container {
  display: block;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 300;
}

.display .spinner-container {
  opacity: 0;
  visibility: hidden;
}

.circles {
  width: 8rem;
  height: 8rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
  animation: displayCircles 3s;
}

.circles div {
  animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 50% 50%;
}

.circles div::after {
  content: '';
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: rgb(174, 174, 246);
  margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1)::after {
  top: 6.3rem;
  left: 6.3rem;
}

.circles div:nth-child(1) {
  animation-delay: -0.036s;
}

.circles div:nth-child(2)::after {
  top: 6.8rem;
  left: 5.6rem;
}

.circles div:nth-child(2) {
  animation-delay: -0.072s;
}

.circles div:nth-child(3)::after {
  top: 7.1rem;
  left: 4.8rem;
}

.circles div:nth-child(3) {
  animation-delay: -0.108s;
}

.circles div:nth-child(4)::after {
  top: 7.2rem;
  left: 4rem;
}

.circles div:nth-child(4) {
  animation-delay: -0.144s;
}

.circles div:nth-child(5)::after {
  top: 7.1rem;
  left: 3.2rem;
}

.circles div:nth-child(5) {
  animation-delay: -0.18s;
}

.circles div:nth-child(6)::after {
  top: 6.8rem;
  left: 2.4rem;
}

.circles div:nth-child(6) {
  animation-delay: -0.216s;
}

.circles div:nth-child(7)::after {
  top: 6.3rem;
  left: 1.7rem;
}

.circles div:nth-child(7) {
  animation-delay: -0.252s;
}

.circles div:nth-child(8)::after {
  top: 5.6rem;
  left: 1.2rem;
}

.circles div:nth-child(8) {
  animation-delay: -0.288s;
}

@keyframes scale {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveBanner {
  0% {
    transform: translateY(50px) rotateY(-80deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@keyframes circles {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes displayCircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  25% {
    opacity: 1;
    visibility: visible;
  }

  90% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* ====== Header style ======= */
.container {
  overflow: hidden;
}
.header {
  background: url(/assets/mainbanner1.jpeg) no-repeat;
  animation: scale 20s;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  opacity: 0.7;
  overflow: hidden;
}

.brand {
  position: fixed;
  font-family: 'Josefin Slab', serif;
  font-size: 3rem;
  color: rgb(4, 27, 50);
  margin-top: 5rem;
  margin-left: 5rem;
}

.brand-span {
  color: rgb(34, 34, 213);
}

.banner {
  position: absolute;
  top: 30%;
  left: 15%;
  overflow: hidden;
}

.banner h1 {
  font-family: 'Baloo Da 2';
  font-size: 8rem;
  font-weight: 200;
  background-color: rgba(250, 237, 237, 0.7);
  color: rgb(4, 53, 59);
  width: 70%;
  text-align: center;
  border-radius: 7px;
  line-height: 7rem;
  letter-spacing: 0.3rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.6s forwards;
}

.banner p {
  font-family: 'Josefin Slab', serif;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(8, 81, 90);
  background-color: rgba(250, 237, 237, 0.7);
  text-align: center;
  width: 60%;
  border-radius: 7px;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin-top: 0;
  margin-bottom: 3rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  width: 30rem;
  height: 5rem;
  background-color: rgb(29, 29, 204);
  color: aliceblue;
  border: 2px solid rgb(28, 28, 160);
  border-radius: 2rem;
  font-family: 'Mulish', serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  animation: moveBanner 1s 0.7s forwards;
}

/* =====X Header style X====== */

/* ====== Hamburger Menu ====== */

.hamburger-menu {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 3rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu {
  right: 33rem;
}

.line {
  width: 100%;
  height: 0.4rem;
  background-color: white;
  box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.change .line {
  background-color: white;
}

.change .line-1 {
  transform: rotate(45deg) translate(0.6rem, 1.2rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.6rem, -1.2rem);
}

.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: #f59f3d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Baloo Da 2', serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: '';
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #e2b646;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.navbar {
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -30rem;
  background-color: aliceblue;
  transition: right 0.5s;
  z-index: 100;
}

.change .navbar {
  right: 0;
}

.side-nav {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-item {
  text-align: center;
  font-family: 'Baloo Da 2', serif;
  font-size: 4rem;
  line-height: 10rem;
  color: rgb(72, 72, 245);
}

.airbnb-link {
  position: absolute;
  bottom: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.airbnb-link i {
  font-size: 8rem;
  color: rgb(72, 72, 245);
}

/* === Sidebar animation hover === */

ul li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

ul:hover li a {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(5px);
}

ul li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(72, 72, 245);
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

ul li a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

/* ===x Sidebar animation hover x=== */

/* ===== Our Listings Section ====== */
.our-listing {
  width: 100%;
  background-color: aliceblue;
  padding-bottom: 15rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 10rem 0;
}

.section-heading {
  font-family: 'Mulish', serif;
  font-size: 5rem;
  font-weight: 400;
  color: rgb(72, 72, 245);
  margin-bottom: 6rem;
}
.container-fluid {
  width: 75%;
}

.underline {
  width: 15rem;
  height: 0.5rem;
  bottom: 3rem;
  background-color: rgb(212, 163, 70);
}

.listings {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25%;
}

.listing-sj img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 0 0.6em #aae3f4, 0 0 0 2em #2d3ede;
}
.listings h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: #4749d5;
  margin-bottom: 50px;
}

.listing-sv img {
  width: 500px;
  height: 500px;

  border-radius: 10px;
  box-shadow: 0 0 0 0.6em #aae3f4, 0 0 0 2em #2d3ede;
}
/* ====x Our Listings Section x===== */
/* ===== Neighborhood Section ====== */
#listing-container {
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sjcity {
  width: 400px;
  height: 400px;
  margin: 10rem 5rem;
  float: left;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.map-article {
  display: flex;
  font-family: 'Mulish', serif;
  font-size: 2rem;
  margin: 5rem 5rem;
  max-width: 70%;
}

.listingsj-map {
  float: left;
  font-family: 'Mulish', serif;
  font-size: 2rem;
  color: rgb(1, 1, 71);
  margin: 30px 30px;
}

.listingsj-map h1 {
  text-align: center;
  margin: 5rem 10rem;
}

.svcity {
  margin: 10rem 5rem;
  width: 400px;
  height: 400px;
  margin-left: 1em;
  float: right;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.listingsv-map {
  float: left;
  font-family: 'Mulish', serif;
  font-size: 2rem;
  color: rgb(2, 2, 80);
  margin: 30px 30px;
}

.listingsv-map h1 {
  margin: 5rem 10rem;
  text-align: center;
}

.listingsj-map button {
  width: 25rem;
  height: 5rem;
  background-color: rgb(72, 72, 245);
  color: aliceblue;
  border: 2px solid rgb(28, 28, 160);
  border-radius: 1.5rem;
  font-family: 'Mulish', serif;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 3rem 20rem;
}
.listingsv-map button {
  width: 25rem;
  height: 5rem;
  background-color: rgb(72, 72, 245);
  color: aliceblue;
  border: 2px solid rgb(28, 28, 160);
  border-radius: 1.5rem;
  font-family: 'Mulish', serif;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 3rem 25rem;
}

/* ====x Neighborhood Section x===== */

/* ====== Contact Form Section ===== */

.contact {
  width: 100%;
  height: 100vh;
  background-color: #c3bdbd;
  display: flex;

  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  width: 70%;
  height: 60rem;
  display: flex;
  background-color: #fff;
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}

.contact-left {
  width: 40%;
  background: url(/assets/contact.jpg) center no-repeat;
  opacity: 0.5;
  background-size: cover;
}

.contact-right {
  width: 60%;
  background-color: aliceblue;
  padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
  font-family: 'Baloo Da 2', serif;
  font-size: 6rem;
  font-weight: 300;
  color: rgb(72, 72, 245);
  margin-bottom: 5rem;
  text-align: center;
}

.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group label {
  position: relative;
}

.field {
  width: 45rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem dashed rgb(58, 57, 57);
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family: 'Mulish', serif;
  font-size: 1.6rem;
  color: rgb(61, 53, 53);
}

.input-group input {
  height: 4rem;
}

.field:focus {
  border-bottom-style: solid;
}

.input-group textarea {
  max-height: 7rem;
  max-width: 45rem;
}

.input-group label {
  position: absolute;
  left: 0;
  font-family: 'Baloo Da 2', serif;
  font-size: 1.8rem;
  color: rgb(61, 53, 53);
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.3s;
}

.input-label {
  bottom: 3rem;
}

.message {
  bottom: 6rem;
}

.field:focus ~ label {
  transform: translateY(-3rem);
  font-size: 1.2rem;
}

.submit-btn {
  width: 40rem;
  height: 5rem;
  background-color: rgb(72, 72, 245);
  color: aliceblue;
  border: none;
  margin: 2rem;
  font-family: 'Mulish', serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

/* =====x Contact Form Section x==== */

/* ======  Footer Section  ======= */

.footer {
  width: 100%;
  height: 15rem;
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: 'Baloo Da 2', serif;
  font-size: 1.7rem;
  color: white;
}

.social-list a {
  margin: 0 2rem;
}

.scroll-btn {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgb(72, 72, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #c3bdbd;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.social-list i {
  background-color: rgb(171, 161, 161);
  background-color: #2e2e2e;
  color: rgb(72, 72, 245);
}
/* ======x  Footer Section  x======= */

/* Media */

@media (max-width: 1400px) {
  .brand {
    font-size: 3rem;
  }

  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .banner p {
    font-size: 3rem;
  }

  /* listings */

  .listings {
    gap: 10rem;
  }

  .listing-sj img {
    width: 500px;
    height: 500px;
  }

  .listing-sv img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1300px) {
  .brand {
    font-size: 2rem;
  }
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
    line-height: rem;
  }

  /* listings */

  .listings {
    margin: 0;
  }

  .listing-sj img {
    width: 350px;
    height: 350px;
  }

  .listing-sv img {
    width: 350px;
    height: 350px;
  }

  .maps {
    width: 70%;
  }

  .contact-wrapper {
    width: 90%;
    height: 55rem;
  }

  .contact-heading {
    margin-bottom: 2rem;
  }

  .field {
    margin: 2rem 0;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .social-list i {
    margin-top: 3rem;
  }
}

@media (max-width: 1000px) {
  .brand {
    font-size: 2rem;
  }

  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
  }

  .section-heading {
    font-size: 4rem;
  }

  .listings {
    flex-direction: column;
    align-items: center;
  }

  .listing-sv {
    margin-top: 10rem;
    text-align: center;
  }

  .listing-sj {
    text-align: center;
  }

  .maps {
    flex-direction: column;
  }

  .listingsj-map {
    font-size: 1.2rem;
  }

  .listingsv-map {
    font-size: 1.2rem;
  }

  .contact-left {
    width: 0;
  }

  .contact-right {
    width: 100%;
  }

  .contact-heading {
    margin-bottom: 1.4rem;
  }

  .copyright {
    font-size: 1.2rem;
  }

  .social-list a {
    margin: 0 1rem;
  }

  .social-list i {
    font-size: 1.6rem;
  }
  .listings {
    margin: 30px;
  }

  .listing-sj img {
    display: center;
    width: 300px;
    height: 300px;
  }

  .listing-sv img {
    display: center;
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 860px) {
  /*Listing*/

  .listing-sj h1 {
    margin-right: 8rem;
  }

  .listing-sj img {
    margin-left: 14rem;
    margin-right: 20rem;
  }

  .listing-sv h1 {
    margin-right: 9rem;
  }

  .listing-sv img {
    margin-right: 8rem;
  }

  /* Neighborhood */

  #listing-container {
    border: none;
  }
  .sjcity {
    width: 500px;
    height: 500px;
    margin: 5rem 55rem;
  }
  .listingsj-map button {
    margin: 3rem 55rem;
  }
  .listingsj-map p {
    text-align: center;
    width: 30%;
    margin: 10rem 55rem;
  }

  .listingsj-map button {
    margin: 3rem 65rem;
  }
  .map-article {
    font-size: 1.4rem;
    text-align: center;
    width: 45%;
  }

  .svcity {
    width: 500px;
    height: 500px;
    margin: 5rem 55rem;
  }

  .listingsj-map {
    display: center;
    align-items: center;
  }

  .listingsv-map p {
    text-align: center;
    width: 30%;
    margin: 10rem 55rem;
  }

  .listingsv-map button {
    margin: 3rem 65rem;
  }
  /*Listing*/

  .listing-sj img {
    width: 500px;
    height: 500px;
  }

  .listing-sv img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 770px) {
  .brand {
    font-size: 1.2rem;
    margin-left: 2rem;
  }

  .banner h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .banner p {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .banner button {
    margin-top: 0;
    margin-bottom: 6rem;
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .section-heading {
    font-size: 3rem;
  }
  /* Navbar */
  .hamburger-menu {
    top: 3rem;
    right: 3rem;
  }

  .change .hamburger-menu {
    right: 20rem;
  }

  .navbar {
    width: 30%;
    right: -30%;
  }
  .nav-item {
    font-size: 2rem;
    line-height: 3rem;
  }
  .airbnb-link i {
    font-size: 4rem;
    margin-bottom: 0;
  }
  .line {
    width: 60%;
    height: 0.3rem;
  }

  .change .line-1 {
    transform: rotate(45deg) translate(0.4rem, 1.4rem);
  }
  .change .line-3 {
    transform: rotate(-45deg) translate(0.4rem, -1.4rem);
  }

  .header {
    background-position: center;
    background-size: cover;
  }

  /*Listing*/

  .listing-sj h1 {
    margin-right: 12rem;
  }

  .listing-sj img {
    display: center;
    margin-left: 10rem;
    margin-right: 20rem;
    width: 400px;
    height: 400px;
  }

  .listing-sv h1 {
    margin-right: 12rem;
  }

  .listing-sv img {
    margin-left: 10rem;
    margin-right: 20rem;
    display: center;
    width: 400px;
    height: 400px;
  }

  /* Neighborhood */

  #listing-container {
    border: none;
  }
  .sjcity {
    width: 400px;
    height: 400px;
    margin: 5rem 55rem;
  }
  .listingsj-map button {
    margin: 3rem 60rem;
  }
  .listingsj-map p {
    text-align: center;
    width: 30%;
    margin: 10rem 52rem;
  }

  .map-article {
    font-size: 1.4rem;
    text-align: center;

    width: 45%;
  }

  .svcity {
    width: 400px;
    height: 400px;
    margin: 5rem 50rem;
  }

  .listingsv-map p {
    text-align: center;
    width: 30%;
    margin: 10rem 48rem;
  }

  .listingsv-map button {
    margin: 3rem 55rem;
  }

  .listings {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  /* contact form*/

  .contact-wrapper {
    width: 65%;
  }

  .field {
    width: 35rem;
    height: 10rem;
  }
  .submit-btn {
    width: 20rem;
    height: 3rem;
  }
  .contact-heading {
    font-size: 4rem;
  }

  .input-group textarea {
    max-width: 35rem;
    height: 40rem;
  }
  /* footer */
  .scroll-btn {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    width: 5rem;
    height: 5rem;
  }
  .social-list i {
    margin-top: 3rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }
}

@media (max-width: 580px) {
  /* contact form*/
  .contact {
    margin-bottom: 10rem;
  }
  .contact-wrapper {
    width: 90%;
  }
  .field {
    width: 30rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .brand {
    font-size: 1.4rem;
  }

  .banner h1 {
    font-size: 3.4rem;
  }

  .banner p {
    font-size: 1.8rem;
  }
  .banner button {
    width: 15rem;
  }
  .hamburger-menu {
    width: 2rem;
    height: 2rem;
    top: 1.6rem;
    right: 2rem;
  }

  /* Navbar */
  .change .hamburger-menu {
    right: 20rem;
  }

  .navbar {
    width: 50%;
    right: -50%;
  }
  .nav-item {
    font-size: 2.2rem;
    line-height: 5rem;
  }
  .airbnb-link i {
    font-size: 4rem;
    margin-bottom: 8rem;
  }

  .change .line-1 {
    transform: rotate(45deg) translate(0.1rem, 0.7rem);
  }
  .change .line-3 {
    transform: rotate(-45deg) translate(0.1rem, -0.7rem);
  }

  .header {
    background-position: center;
    background-size: cover;
  }

  /*neighborhoods*/

  .listings {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #listing-container {
    border: none;
  }
  .sjcity {
    width: 400px;
    height: 400px;
  }

  .svcity {
    width: 400px;
    height: 400px;
    margin: 10rem;
  }
  .listingsv-map button {
    margin: 5rem 35rem;
  }

  .map-article {
    text-align: center;
    margin: 10rem;
  }
  /*listings*/

  .listing-sj img {
    display: center;
    width: 300px;
    height: 300px;
  }

  .listing-sj h1 {
    margin-right: 7rem;
  }
  .listing-sv img {
    display: center;
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 360px) {
  .listing-sj img {
    display: center;
    width: 200px;
    height: 200px;
    margin-right: 23rem;
  }

  .listing-sj h1 {
    margin-right: 13rem;
  }
  .listing-sv img {
    display: center;
    width: 200px;
    height: 200px;
    margin-right: 23rem;
  }
  .listing-sv h1 {
    margin-right: 13rem;
  }

  /* Neighborhoods */
  .sjcity {
    width: 250px;
    height: 250px;
    margin: 5rem 60rem;
  }
  .listingsj-map button {
    margin: 3rem 60rem;
  }
  .listingsj-map p {
    text-align: center;
    width: 20%;
    margin: 10rem 59rem;
  }

  .map-article {
    font-size: 1.4rem;
    text-align: center;
    width: 45%;
  }

  .svcity {
    width: 250px;
    height: 250px;
    margin: 5rem 50rem;
  }

  .listingsv-map p {
    text-align: center;
    width: 22%;
    margin: 10rem 50rem;
  }
  .listingsv-map button {
    margin-left: 52rem;
  }

  /* contact form */

  .contact-wrapper {
    width: 80%;
  }

  .contact-heading {
    font-size: 3rem;
  }

  .field {
    width: 20rem;
  }

  .scroll-btn {
    width: 3rem;
    height: 3rem;
  }
}
